html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a img { border: none; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body { margin: 0 auto; width: 960px; }
body.primary-01 > #primary, body.primary-01 > #secondary, body.primary-01 > #tertiary { float: left; height: 800px; }
body.primary-01 > #primary, body.primary-01 > #tertiary { width: 20%; }
body.primary-01 > #secondary { width: 60%; }
body.primary-02 > header { height: 100px; width: 100%; }
body.primary-02 > #primary, body.primary-02 > #tertiary { float: left; height: 800px; width: 20%; }
body.primary-02 > #secondary { float: left; height: 800px; width: 60%; }
body.primary-03 > header { height: 100px; width: 100%; }
body.primary-03 > #primary, body.primary-03 > #secondary, body.primary-03 > #tertiary { float: left; height: 800px; width: 33.333%; }
body.primary-04 > header { height: 100px; width: 100%; }
body.primary-04 > #primary, body.primary-04 > #secondary, body.primary-04 > #tertiary, body.primary-04 > #quaternary { float: left; height: 800px; width: 25%; }
body.primary-05 > header { height: 100px; width: 100%; }
body.primary-05 > #primary { float: left; height: 800px; width: 30%; }
body.primary-05 > #secondary { float: left; height: 800px; width: 70%; }
body.primary-06 > header { height: 100px; width: 100%; }
body.primary-06 > #primary { float: left; height: 800px; width: 70%; }
body.primary-06 > #secondary { float: left; height: 800px; width: 30%; }
body.primary-07 > header { height: 100px; width: 100%; }
body.primary-07 > #primary, body.primary-07 > #secondary { float: left; height: 800px; width: 20%; }
body.primary-07 > #tertiary { float: left; height: 800px; width: 60%; }
body.primary-08 > header { height: 100px; width: 100%; }
body.primary-08 > #primary { float: left; height: 800px; width: 60%; }
body.primary-08 > #secondary, body.primary-08 > #tertiary { float: left; height: 800px; width: 20%; }
body.primary-09 > header { height: 100px; width: 100%; }
body.primary-09 > #primary { float: left; height: 800px; width: 100%; }
body.primary-09 > #secondary { float: left; height: 100px; width: 100%; }
body.primary-10 > header { height: 100px; width: 100%; }
body.primary-10 > #primary { float: left; height: 177.778px; width: 100%; }
body.primary-10 > #secondary { float: left; height: 533.333px; width: 100%; }
body.primary-10 > #tertiary { float: left; height: 88.889px; width: 100%; }
body.primary-11 > header { height: 100px; width: 100%; }
body.primary-11 > #primary, body.primary-11 > #secondary { float: left; height: 800px; width: 50%; }
body.primary-12 > header { height: 100px; width: 100%; }
body.primary-12 > #primary { float: left; height: 800px; width: 50%; }
body.primary-12 > #secondary, body.primary-12 > #tertiary { float: left; height: 400px; width: 50%; }
body.primary-13 > header { height: 100px; width: 100%; }
body.primary-13 > #primary { float: left; height: 400px; width: 50%; }
body.primary-13 > #secondary { float: left; height: 400px; left: -50%; position: relative; top: 400px; width: 50%; }
body.primary-13 > #tertiary { float: right; height: 800px; position: relative; top: -400px; width: 50%; }
body.primary-14 > header { height: 100px; width: 100%; }
body.primary-14 > #primary, body.primary-14 > #secondary { float: left; height: 800px; width: 25%; }
body.primary-14 > #tertiary, body.primary-14 > #quaternary { float: left; height: 400px; width: 50%; }
body.primary-15 > header { height: 100px; width: 100%; }
body.primary-15 > #primary { float: left; height: 400px; width: 50%; }
body.primary-15 > #secondary { float: left; height: 400px; left: -50%; position: relative; top: 400px; width: 50%; }
body.primary-15 > #tertiary, body.primary-15 > #quaternary { float: right; height: 800px; position: relative; top: -400px; width: 25%; }
body.primary-16 > header { height: 100px; width: 100%; }
body.primary-16 > #primary, body.primary-16 > #secondary, body.primary-16 > #tertiary, body.primary-16 > #quaternary { float: left; height: 400px; width: 50%; }
body.primary-17 > header { height: 100px; margin: 0 auto; width: 60%; }
body.primary-17 > #primary, body.primary-17 > #tertiary { float: left; width: 20%; }
body.primary-17 > #secondary { float: left; height: 800px; width: 60%; }
body.primary-18 > header { height: 100px; width: 100%; }
body.primary-18 > #primary { float: left; height: 266.667px; width: 100%; }
body.primary-18 > #secondary, body.primary-18 > #tertiary, body.primary-18 > #quaternary { float: left; height: 800px; width: 33.333%; }
body.primary-19 > header { height: 100px; width: 100%; }
body.primary-19 > #primary, body.primary-19 > #secondary { float: left; height: 400px; }
body.primary-19 > #primary { width: 30%; }
body.primary-19 > #secondary { width: 70%; }
body.primary-19 > #tertiary { float: left; height: 800px; width: 100%; }
body.primary-20 > header { height: 100px; width: 100%; }
body.primary-20 > #primary, body.primary-20 > #secondary { float: left; height: 400px; }
body.primary-20 > #primary { width: 70%; }
body.primary-20 > #secondary { width: 30%; }
body.primary-20 > #tertiary { float: left; height: 800px; width: 100%; }
body.primary-21 > header { height: 100px; width: 100%; }
body.primary-21 > #primary, body.primary-21 > #secondary, body.primary-21 > #tertiary { float: left; height: 400px; width: 33.333%; }
body.primary-21 > #quaternary { float: left; height: 800px; width: 100%; }
body.primary-22 > header { height: 100px; width: 100%; }
body.primary-22 > #primary { float: left; height: 266.667px; width: 100%; }
body.primary-22 > #secondary, body.primary-22 > #tertiary { float: left; height: 800px; width: 50%; }
body.primary-23 > header { height: 100px; width: 100%; }
body.primary-23 > #primary, body.primary-23 > #secondary, body.primary-23 > #tertiary { float: left; height: 400px; width: 33.333%; }
body.primary-23 > #quaternary, body.primary-23 > #quinary { float: left; height: 800px; width: 50%; }
body.primary-24 > header { height: 100px; width: 100%; }
body.primary-24 > #primary { float: left; height: 800px; margin-top: 100px; width: 100%; }
body.primary-25 > #primary { height: 800px; width: 100%; }

header { background-color: yellow; }

#primary { background-color: red; }

#secondary { background-color: lime; }

#tertiary { background-color: blue; }

#quaternary { background-color: fuchsia; }

#quinary { background-color: aqua; }
