//
  The following variables are used by Primary
  $primary-selector-header: header
  $primary-selector-primary: '#primary'
  $primary-selector-secondary: '#secondary'
  $primary-selector-tertiary: '#tertiary'
  $primary-selector-quaternary: '#quaternary'
  $primary-selector-quinary: '#quinary'
  $primary-selector-footer: footer
  $primary-column-margin: 1%
  $primary-column-padding: 1%
  $primary-column-count: 10
  $primary-column-total-width: 100%

$primary-column-margin: 5px
$primary-column-padding: 5px
$primary-column-total-width: 960px

@import compass/reset
@import compass/layout/primary

@include reset-html5

.disabled
  display: none
  height: 0
  width: 0

body
  margin: 0 auto
  width: 960px

  &.primary-01
    @include primary-layout-three(false)
    #{$primary-selector-primary},
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary}
      height: 400px
    #{$primary-selector-header},
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-02
    @include primary-layout-three(true, false, 2, 6)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary}
      height: 400px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-03
    @include primary-layout-three
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary}
      height: 400px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-04
    @include primary-layout-four
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary},
    #{$primary-selector-quaternary}
      height: 400px
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-05
    @include primary-layout-two(true, false, 3)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary}
      height: 400px
    #{$primary-selector-tertiary},
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-06
    @include primary-layout-two(true, false, 7)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary}
      height: 400px
    #{$primary-selector-tertiary},
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-07
    @include primary-layout-three(true, false, 2, 2, 6)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary}
      height: 400px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-08
    @include primary-layout-three(true, false, 6, 2, 2)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary}
      height: 400px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-09
    @include primary-layout-one(true, true)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary}
      height: 400px
    #{$primary-selector-footer}
      height: 100px
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary},
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary}
      @extend .disabled

  &.primary-10
    @include primary-layout-one-one(true, true)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary}
      height: 100px
    #{$primary-selector-secondary}
      height: 300px
    #{$primary-selector-footer}
      height: 100px
    #{$primary-selector-tertiary},
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary}
      @extend .disabled

  &.primary-11
    @include primary-layout-two
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary}
      height: 400px
    #{$primary-selector-tertiary},
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-12
    @include primary-layout-full-half-half(400px)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-13
    @include primary-layout-half-half-full(400px)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-14
    @include primary-layout-full-full-half-half(400px)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-15
    @include primary-layout-half-half-full-full(400px)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-16
    @include primary-layout-two-two
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary},
    #{$primary-selector-quaternary}
      height: 400px
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-17
    @include primary-layout-three-alternate(150px)
    #{$primary-selector-primary},
    #{$primary-selector-tertiary}
      height: 600px
    #{$primary-selector-secondary}
      height: 450px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-18
    @include primary-layout-one-three
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary}
      height: 100px
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary},
    #{$primary-selector-quaternary}
      height: 300px
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-19
    @include primary-layout-two-one(true, true, 3, 7)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary}
      height: 100px
    #{$primary-selector-tertiary}
      height: 300px
    #{$primary-selector-footer}
      height: 100px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary}
      @extend .disabled

  &.primary-20
    @include primary-layout-two-one(true, true, 7, 3)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary}
      height: 100px
    #{$primary-selector-tertiary}
      height: 300px
    #{$primary-selector-footer}
      height: 100px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary}
      @extend .disabled

  &.primary-21
    @include primary-layout-three-one(true, true)
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary}
      height: 100px
    #{$primary-selector-quaternary}
      height: 300px
    #{$primary-selector-footer}
      height: 100px
    #{$primary-selector-quinary}
      @extend .disabled

  &.primary-22
    @include primary-layout-one-two
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary}
      height: 100px
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary}
      height: 300px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-23
    @include primary-layout-three-two
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary},
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary}
      height: 100px
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary}
      height: 300px
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-24
    @include primary-layout-one
    #{$primary-selector-header}
      height: 150px
    #{$primary-selector-primary}
      height: 400px
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary},
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

  &.primary-25
    @include primary-layout-one(false)
    #{$primary-selector-primary}
      height: 400px
    #{$primary-selector-header},
    #{$primary-selector-secondary},
    #{$primary-selector-tertiary},
    #{$primary-selector-quaternary},
    #{$primary-selector-quinary},
    #{$primary-selector-footer}
      @extend .disabled

#layout_picker
  bottom: 0
  left: 0
  position: fixed
  overflow: auto
  top: 0
  width: 150px
  li
    cursor: pointer
    text-align: center
    &:hover
      background-color: #DDDDDD
    img
      margin: 0.5em auto

header
  background-color: #FFFF00
#primary
  background-color: #FF0000
#secondary
  background-color: #00FF00
#tertiary
  background-color: #0000FF
#quaternary
  background-color: #FF00FF
#quinary
  background-color: #00FFFF
footer
  background-color: #DDDDDD
