@import compass/reset
@import compass/layout/primary

@include reset-html5

//
  The following variables are used by Primary
  $primary-selector-header: header
  $primary-selector-primary: '#primary'
  $primary-selector-secondary: '#secondary'
  $primary-selector-tertiary: '#tertiary'
  $primary-selector-quaternary: '#quaternary'
  $primary-selector-quinary: '#quinary'
  $primary-default-header-height: 100px
  $primary-default-height: 800px

body
  margin: 0 auto
  width: 960px
  &.primary-01
    @include primary-layout-01
  &.primary-02
    @include primary-layout-02
  &.primary-03
    @include primary-layout-03
  &.primary-04
    @include primary-layout-04
  &.primary-05
    @include primary-layout-05
  &.primary-06
    @include primary-layout-06
  &.primary-07
    @include primary-layout-07
  &.primary-08
    @include primary-layout-08
  &.primary-09
    @include primary-layout-09
  &.primary-10
    @include primary-layout-10
  &.primary-11
    @include primary-layout-11
  &.primary-12
    @include primary-layout-12
  &.primary-13
    @include primary-layout-13
  &.primary-14
    @include primary-layout-14
  &.primary-15
    @include primary-layout-15
  &.primary-16
    @include primary-layout-16
  &.primary-17
    @include primary-layout-17
  &.primary-18
    @include primary-layout-18
  &.primary-19
    @include primary-layout-19
  &.primary-20
    @include primary-layout-20
  &.primary-21
    @include primary-layout-21
  &.primary-22
    @include primary-layout-22
  &.primary-23
    @include primary-layout-23
  &.primary-24
    @include primary-layout-24
  &.primary-25
    @include primary-layout-25

header
  background-color: #FFFF00
#primary
  background-color: #FF0000
#secondary
  background-color: #00FF00
#tertiary
  background-color: #0000FF
#quaternary
  background-color: #FF00FF
#quinary
  background-color: #00FFFF
